/* line 7, ../sass/styles2.scss */
.contenedor {
  padding: 0 10px;
  height: 100%;
}
@media only screen and (min-width: 768px) {
  /* line 7, ../sass/styles2.scss */
  .contenedor {
    max-width: 90%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 992px) {
  /* line 7, ../sass/styles2.scss */
  .contenedor {
    max-width: 95%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 7, ../sass/styles2.scss */
  .contenedor {
    max-width: 75%;
    margin: 0 auto;
  }
}

/* line 27, ../sass/styles2.scss */
.boton {
  background-color: #028484;
  padding: 20px;
  color: #ffffff;
}

/* line 33, ../sass/styles2.scss */
.navegacion-principal {
  background-color: #072146;
  height: 50px;
}
@media only screen and (min-width: 992px) {
  /* line 33, ../sass/styles2.scss */
  .navegacion-principal {
    height: 100px;
  }
}

/* line 42, ../sass/styles2.scss */
.nav-ppl {
  height: 100%;
}

/* line 46, ../sass/styles2.scss */
.menu-movil {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
/* line 52, ../sass/styles2.scss */
.menu-movil ul {
  list-style: none;
  padding: 0;
  text-align: center;
  width: 100%;
  margin: 0;
}
/* line 59, ../sass/styles2.scss */
.menu-movil ul li {
  display: inline-block;
  width: 30%;
}
/* line 63, ../sass/styles2.scss */
.menu-movil ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}
/* line 67, ../sass/styles2.scss */
.menu-movil ul li a i {
  margin-right: 5px;
}
/* line 72, ../sass/styles2.scss */
.menu-movil ul li img {
  max-width: 80%;
  max-height: 50px;
}
@media only screen and (min-width: 992px) {
  /* line 46, ../sass/styles2.scss */
  .menu-movil {
    display: none;
  }
}

/* line 84, ../sass/styles2.scss */
.menu-ordenador {
  display: none;
}
@media only screen and (min-width: 992px) {
  /* line 84, ../sass/styles2.scss */
  .menu-ordenador {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* line 96, ../sass/styles2.scss */
.logo-menu img {
  width: 40%;
}
/* line 99, ../sass/styles2.scss */
.logo-menu a {
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 8px;
  font-weight: bold;
}

/* line 107, ../sass/styles2.scss */
.cliente-menu {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
/* line 111, ../sass/styles2.scss */
.cliente-menu a {
  margin: 0 10px;
  font-size: 1em;
  font-weight: bold;
}
/* line 116, ../sass/styles2.scss */
.cliente-menu i {
  color: #ffffff;
  font-size: 1.1em;
}

/* line 122, ../sass/styles2.scss */
.menu-hamburguesa {
  display: inline-flex;
  flex-wrap: nowrap;
}
/* line 125, ../sass/styles2.scss */
.menu-hamburguesa a {
  color: #ffffff;
}
/* line 128, ../sass/styles2.scss */
.menu-hamburguesa span {
  display: block;
  height: 3px;
  background-color: #ffffff;
  width: 20px;
  margin-bottom: 3px;
}
/* line 134, ../sass/styles2.scss */
.menu-hamburguesa span:last-of-type {
  margin-bottom: 0;
}

/* line 140, ../sass/styles2.scss */
.letra-amarilla {
  color: #f8cd51;
}

/* line 145, ../sass/styles2.scss */
.banner-principal {
  display: none;
}

/* line 149, ../sass/styles2.scss */
.recuadro-blanco {
  display: none;
}
