$color-azul-orcuro: rgb(7, 33, 70);
$color-turquesa: rgb(2, 132, 132);
$color-azul-claro: rgb(45, 204, 205);
$color-gris_fondo: rgb(244, 244, 244);
$color-azul-letras: rgb(91, 133, 178);

.contenedor {
  padding: 0 10px;
  height: 100%;

  @media only screen and (min-width: 768px){
    max-width: 90%;
    margin: 0 auto;
  }

  @media only screen and (min-width: 992px){
    max-width: 95%;
    margin: 0 auto;
  }

  @media only screen and (min-width: 1200px){
    max-width: 75%;
    margin: 0 auto;
  }
}

.boton {
  background-color: $color-turquesa;
  padding: 20px;
  color: #ffffff;
}

.navegacion-principal {
  background-color: $color-azul-orcuro;
  height: 50px;

  @media only screen and (min-width: 992px){
    height: 100px;
  }
}

.nav-ppl {
  height: 100%;
}

.menu-movil {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  ul {
    list-style: none;
    padding: 0;
    text-align: center;
    width: 100%;
    margin: 0;

    li{
      display: inline-block;
      width: 30%;

      a {
        color: #ffffff;
        text-decoration: none;
        font-size: 16px;
        i {
          margin-right: 5px;
        }
      }

      img {
        max-width: 80%;
        max-height: 50px;
      }
    }
  }

  @media only screen and (min-width: 992px){
    display: none;
  }
}

.menu-ordenador {
  display: none;

  @media only screen and (min-width: 992px) {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo-menu {
  img {
    width: 40%;
  }
  a{
    color: #ffffff;
    text-transform: uppercase;
    margin: 0 8px;
    font-weight: bold;
  }
}

.cliente-menu {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  a {
    margin: 0 10px;
    font-size: 1em;
    font-weight: bold;
  }
  i {
    color: #ffffff;
    font-size: 1.1em;
  }
}

.menu-hamburguesa {
  display: inline-flex;
  flex-wrap: nowrap;
  a {
    color: #ffffff;
  }
  span {
    display: block;
    height: 3px;
    background-color: #ffffff;
    width: 20px;
    margin-bottom: 3px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.letra-amarilla {
  color: rgb(248, 205, 81);
}


.banner-principal {
  display: none;
}

.recuadro-blanco {
  display: none;
}
